label{
    margin-top: 8px;
}

.metricInput{
    width: 100px !important;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #283F3B !important;
}

#dateDisplay{
    font-size: x-large;
}

#saveChangesButton{
    margin-top: 80px;
}

#saveChangesButton:hover{
    background-color: black;
    color: white;
}

/* back and forward buttons */

.selector {
text-decoration: none;
display: inline-block;
padding: 8px 16px;
background-color: #333C3C;
color: #fff;
border-radius: 50%;
}

.selector:hover {
background-color: #fafafa;
color: #333C3C;
}