.metricInput{
    width: 80px !important;
    margin-left: 14px !important;
}

.btn-info, .btn-info:hover, .btn-info:active, .btn-info:visited {
    background-color: #283F3B !important;
}

#saveChangesButton{
    margin-top: 40px;
}