<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <script src="https://kit.fontawesome.com/37225b9be6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css">
        <link rel="stylesheet" href="css/wellbeingTracker.css" type="text/css">
        <link rel="stylesheet" href="css/sidebar.css" type="text/css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
        <title>Data View</title>
    </head>
    <body>
        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>menu</h3>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href=""><button class="sidebarLink btn" >view data / log metrics</button></a>
                    </li>
                    <li>
                        <a><button class="sidebarLink btn">tracking settings</button></a>
                    </li>
                    <li>
                        <a><button class="sidebarLink btn">user settings</button></a>
                    </li>
                    <li>
                        <div sec:authorize="isAuthenticated()">
                            <form method="POST" action="/logout">
                                <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
                                <a><button class="sidebarLink btn" id="logOutButton" type="submit">log out</button></a>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>

            <div id="content" class="container">
                <!-- COLLAPSE BUTTON -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <span>
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>
                    </div>
                </nav>

                <!-- GRAPH AND ENTRY ROW -->
                <div class="row">
                    <!-- GRAPH -->
                    <div id="graph col">
                        <canvas id="lineGraph" width="900" height="450"></canvas>
                    </div>
                    <!-- UPDATE GRAPH BUTTON -->
                    <div class="col">
                        <div class="row">
                            <div id="dateDisplay"></div>
                        </div>
                        <div sec:authorize="hasRole('ROLE_USER')">
                            <p>User status: USER</p>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <p>User status: ADMIN</p>
                        </div>
                        <div>
                            <!-- Logged in as <span th:text="${#authentication.name}"></span> -->
                        </div>
                        <button type="button" class="btn btn-info" id="updateGraphButton"><i class="fa fa-refresh fa-3x" aria-hidden="true"></i></button>
                    </div>
                </div>
                <!-- ENTRY FORM -->
                <div class="row">
                    <div class="col">
                        <table class="table table-striped">
                            <tbody id="entryTableBody">
                                <!-- entry rows appended here -->
                            </tbody>
                        </table>
                    </div>
                    <!-- SAVE CHANGES BUTTON -->
                    <div class="col">
                        <button id="saveChangesButton" class="btn border-primary">save changes</button>
                    </div>
                </div>
            </div>
        </div>
        

        

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="js/dataView.js"></script>
    </body>
</html>