<!DOCTYPE html>
<html lang="en"
xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script src="https://kit.fontawesome.com/37225b9be6.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" type="text/css">
        <link rel="stylesheet" href="css/removeMetrics.css" type="text/css">
        <link rel="stylesheet" href="css/sidebar.css" type="text/css">
        <title>remove metrics</title>
    </head>
    <body>
        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>menu</h3>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="content"><button class="sidebarLink btn" >view data / log metrics</button></a>
                    </li>
                    <li>
                        <a href="addmetrics"><button class="sidebarLink btn">add metrics</button></a>
                    </li>
                    <li class="active">
                        <a href=""><button class="sidebarLink btn">remove metrics</button></a>
                    </li>
                    <li>
                        <a href="usersettings"><button class="sidebarLink btn">user settings</button></a>
                    </li>
                    <li>
                        <div sec:authorize="isAuthenticated()">
                            <form method="POST" action="/logout">
                                <!-- <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/> -->
                                <a><button class="sidebarLink btn" id="logOutButton" type="submit">log out</button></a>
                            </form>
                        </div>
                    </li>
                </ul>
            </nav>

            <div class="container" id="content">
                <!-- COLLAPSE BUTTON -->
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse" class="btn btn-info">
                            <span>
                                <i class="fas fa-bars"></i>
                            </span>
                        </button>
                    </div>
                </nav>
                
                <div id="header" class="text-center">
                    <h1>remove metrics</h1>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div id="metricTypeDiv" class="row">
                            <h5>currently tracked metrics</h5>
                            <table id="metricTypeTable">
                                <div th:each="type : ${typeList}">
                                <tr class="typeElement">
                                    <td th:text="${type.metricName}"></td>
                                    <td><a href="#" th:href="@{/deleteconfirmation(id=${type.metricTypeId})}"><button type="button" class="btn border-dark deleteButton" th:id="${type.metricTypeId}" th:text="delete"></button></a></td>
                                </tr>
                                </div>
                            </table>
                        </div>
                    </div>
                    <!-- METRIC DISPLAY AREA -->
                    <div class="col-md-9 jumbotron">
                        <div id="metricDisplayArea" class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="js/removeMetrics.js"></script>
    </body>
</html>
